body{
    background: rgba(0, 0,0,0.5)
}
#top{
    width: 100%;
}
#NAGLOWEK{
    width:120% ;
    height: 160px;
    background-color: gray;
    color:black;
    font-size: 70pt;
}
#MENU{
    width: 20%;
    height: 528px;
    float: left;
    overflow: hidden;
    background-color:black;
    color:white;
    font-size: 40pt;
    text-align: center;
    text-decoration: none;
}
#TRESC{
    background-color: gray;
    width: 80%;
    height: 528px;
    overflow: hidden;
    float: left;
    color:rgba(211, 43, 226, 0.884);
    font: bolder;
    font-size: 70pt;
    background-image: url(Di_maria.jpg) ;
    float:right;
    font-size: 20px;
}
#STOPKA{
    clear: both;
    background-color: gray;
    width: 120%;
    height: 80px;
    text-align: center;
    color: black;
    font-size: 50pt;
}
a:hover{
text-decoration: none;
letter-spacing: 5px;
background-color: gray;
color: black ;
}
a{
    color: white;
    text-decoration: none;
}
